@model DAL.ViewModels.DashboardViewModel;

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<style>
    .dashboard-icon {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    .dashboard-icon-outer {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    .cursor-pointer {
        cursor: pointer;
    }
</style>

<div class="body_content">

    <div class="d-md-flex justify-content-between pt-3">
        <div class="user-text fs-3 fw-bold">Dashboard</div>
        <div class="form-floating pt-3 pt-md-0 w-auto">
            <select id="selectRange" class="form-select p-2"
                style="height:45px !important; border-radius: 7px !important;">
                <option value="Today">Today</option>
                <option value="Last 7 days">Last 7 days</option>
                <option value="Last 30 days">Last 30 days</option>
                <option value="Current Month">Current Month</option>
                <option value="Custom Date" data-bs-toggle="modal" data-bs-target="#CustomDateDashboardModal">Custom
                    Date</option>
            </select>
        </div>
    </div>

    <div id="Dashboard-Content">

    </div>
</div>

<!------------------------------------- Custom Date Modal --------------------------------------------------->

<div id="CustomDateDashboardModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 fw-bold text-secondary">Select Date Range</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="Cross-Cancel-btn"
                    onclick="EmptyData();"></button>
            </div>
            <form id="CustomDateFormId">
                <div class="modal-body">
                    <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">

                        <div class="form-floating  col mb-3">
                            <input type="date" id="startDate" class="form-control">
                            <label>From Date</label>
                        </div>

                        <div class="form-floating  col ">
                            <input type="date" id="endDate" class="form-control">
                            <label>To Date</label>
                        </div>

                    </div>

                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn solid-btn">Submit</button>
                    <button type="button" class="btn hollow-btn" id="Cross-Cancel-btn" onclick="EmptyData();"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var range = "Today";
    var startDate = "";
    var endDate = "";
    var Labels = Array.from({ length: 31 }, (_, i) => i + 1);
    var RevenueGrowthData;
    var CustomerCountData;

    // Empty the Data from Modal
    function EmptyData() {
        $("#startDate").val("");
        $("#endDate").val("");
    }

    // Function to fetch and display the Dashboard content
    function fetchDashboardData() {

        range = $("#selectRange").val();

        if (range == "Current Month") {
            Labels = Array.from({ length: 31 }, (_, i) => i + 1)
        }
        else if (range == "Last 7 days") {
            Labels = []
            for (i = 6; i >= 0; i--) {
                Labels.push(new Date(new Date().getTime() - i * 24 * 60 * 60 * 1000).getDate())
            }
        } else if (range == "Last 30 days") {
            Labels = []
            for (i = 29; i >= 0; i--) {
                Labels.push(new Date(new Date().getTime() - i * 24 * 60 * 60 * 1000).getDate())
            }
        }
        else if (range == "Today") {
            Labels = []
            for (i = 0; i <= 23; i++) {
                Labels.push(`${i}:00`)
            }
        }
        else {
            Labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        }

        $.ajax({
            url: "/User/GetDashboardDetails",
            type: 'GET',
            data: { range, startDate, endDate },
            success: function (data) {
                $('#Dashboard-Content').html(data);
                ChangeGraphData(range, startDate, endDate);
                setTimeout((x) => {
                    ShowGraphs();
                }, 300)
            },
            error: function (xhr, status, error) {
                callErrorToaster("Error fetching dashboard content");
            }
        });
    }

    // Show Graph
    function ShowGraphs() {
        var ctx = document.getElementById("RevenueChart").getContext("2d");

        // Revenue chart
        RevenueChart = new Chart(ctx, {
            type: "line", // Line chart type
            data: {
                labels: Labels, // Generate numbers from 1 to 31
                datasets: [{
                    label: "Revenue (₹)",
                    data: RevenueGrowthData, // Random data for each day
                    backgroundColor: "rgba(75, 192, 192, 0.2)", // Light fill color
                    borderColor: "rgba(75, 192, 192, 1)", // Line color
                    borderWidth: 2,
                    fill: true, // Fill area under line
                    tension: 0.3, // Smooth curve effect
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                        }
                    }
                },
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }
        });

        var ctx2 = document.getElementById("customerGrowthChart").getContext("2d");

        // Customer chart
        CustomerChart = new Chart(ctx2, {
            type: "line",
            data: {
                labels: Labels,
                datasets: [{
                    label: "Customer Growth",
                    data: CustomerCountData,
                    backgroundColor: "rgba(54, 162, 235, 0.2)",
                    borderColor: "rgba(54, 162, 235, 1)",
                    borderWidth: 2,
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                        }
                    }
                },
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }
        });


    }

    // Change the Graph
    function ChangeGraphData(range, startDate, endDate) {
        if (range == "Custom Date") {
            if (startDate == "" || endDate == "") {
                Labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
            }
            else {
                var StartDateList = startDate.split("-")
                var EndDateList = endDate.split("-")
                if (StartDateList[1] == EndDateList[1]) {
                    Labels = Array.from({ length: 31 }, (_, i) => i + 1)
                }
                else {
                    var DemoLabels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                    Labels = []
                    for (i = parseInt(StartDateList[1]) - 1; i <= parseInt(EndDateList[1]) - 1; i++) {
                        Labels.push(DemoLabels[i])
                    }
                }
            }
        }
        $.ajax({
            url: "/User/GetRevenueAndCustomer",
            type: "GET",
            data: { range: range, startDate: startDate, endDate: endDate },
            success: function (response) {
                RevenueGrowthData = response.revenueList
                CustomerCountData = response.customerList
            },
            error: function (response) {
                callErrorToaster("Error fetching Data");
            }
        })
    }

    // READY
    $(document).ready(function () {

        $("#selectRange").on("change", function () {
            range = $(this).val();
            console.log(range)
            if (range == "Custom Date") {
                $("#CustomDateDashboardModal").modal("show");
            }
            else {
                EmptyData();
                startDate = "";
                endDate = "";
                fetchDashboardData(range, startDate, endDate);
            }
        });

        $("#CustomDateFormId").on("submit", function (e) {
            e.preventDefault();
            startDate = $("#startDate").val();
            endDate = $("#endDate").val();
            fetchDashboardData(range, startDate, endDate);
            $('.btn-close').click();
        });

        $("#startDate").on("change", function () {
            startDate = document.getElementById("startDate").value;
            endDateInput = document.getElementById("endDate").value;

            if (endDateInput == "") return
            if (endDateInput.value < startDate) {
                callErrorToaster("To date should be greater than from date.Reset to date");
                document.getElementById("endDate").value = "";
            }
        })

        $("#endDate").on("change", function () {
            startDate = document.getElementById("startDate").value;
            endDate = document.getElementById("endDate").value;

            if (endDate < startDate) {
                callErrorToaster("To date should be greater than from date.Reset to date");
                document.getElementById("endDate").value = "";
            }
        })

        fetchDashboardData();
    })

</script>