@using DAL.ViewModels
@model OrderAppTableMainViewModel;

@{
    ViewData["Title"] = "Order App Table";
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
}

<div class="d-flex flex-column flex-sm-row justify-content-between gap-3 pb-3">
    <p class="fs-2 fw-bold user-text text-nowrap">Table View</p>
    <div class="d-flex justify-content-sm-end justify-content-between gap-3 flex-wrap">
        <div class="d-flex align-items-center justify-content-center gap-2">
            <div class="rounded-circle bg-available" style="width: 10px; height: 10px;"></div>
            Available
        </div>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <div class="rounded-circle bg-assigned-selected" style="width: 10px; height: 10px;"></div>
            Selected
        </div>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <div class="rounded-circle bg-assigned-dark" style="width: 10px; height: 10px;"></div>
            Assigned
        </div>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <div class="rounded-circle bg-running-dark" style="width: 10px; height: 10px;"></div>
            Running
        </div>
    </div>
</div>

<!------------ accodions -------------->

<div class="accordion" id="accordianmain">

</div>




@section scripts {

    <partial name="_Toaster" />
    <partial name="_ValidationScriptsPartial" />

    <script>

        function DisplaySections() {
            $.ajax({
                url: "/OrderAppTable/GetAllSectionList",
                type: "GET",
                success: function (data) {
                    $("#accordianmain").html(data);
                }
            })
        }


        $(document).ready(function () {
            DisplaySections();
        });

        
    </script>
}