@using DAL.ViewModels
@model OrderDetailViewModel;

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title fs-5 fw-bold text-secondary">Order Wise Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="OrderCommentForm">
        <div class="modal-body row">
            <input type="hidden" id="orderId" asp-for="@Model.OrderId" value="@Model.OrderId" />
            <div class="form-floating  col-12 mb-3">
                <input type=text class="form-control" id="Comment" asp-for="@Model.OrderInstruction" cols="33"></input>
                <label for="Comment"> &nbsp; Comment*</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn solid-btn">Save</button>
            <button type="button" class="btn hollow-btn" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>

<script>
    $(document).on('submit', '#OrderCommentForm', function (event) {

        console.log("submit");
        event.preventDefault();

        let formData = new FormData(this);

        @* console.log(formData, "formData"); *@

        $.ajax({
            type: "POST",
            url: "/OrderAppMenu/UpdateOrderComment",
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                console.log(response, "response");
                if (response.success) {
                    $('#orderId').val(response.orderId);
                    callSuccessToaster(response.text);
                }
                else {
                    callErrorToaster(response.text);
                }
                $('.btn-close').click();
            }
        });
    });
</script>