@model DAL.ViewModels.OrderDetailViewModel;

<div class="d-flex justify-content-center pb-0">
    <div class="container d-flex flex-column gap-2" style="max-width: 1000px;">
        <!-- Header -->
        <div class="d-flex justify-content-between p-3">
            <h2 class="user-text bg-light fs-3 fw-bold">Order-Details</h2>
            <a>
                <div class="add-user-button ">
                    <a asp-action="Order" asp-controller="Order"
                        class="add-user-button btn hollow-btn  pt-2 pb-2 ps-3 pe-3">Back</a>
                </div>
            </a>
        </div>

        <!-- Order Summary -->
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h2 class="fs-5 fw-bold mb-0">Order Summary <span class="status">InProgress</span></h2>
                    </div>
                    <button class="solid-btn p-2 rounded text-white border-0 text-nowrap" id="export-order-data">
                        <i class="fa-solid fa-share-from-square"></i> Export
                    </button>
                </div>
                <p class="validate pt-4"><strong>Invoice No. : </strong> <span
                        class="text-secondary">#DOM2025000229</span></p>
                <div class="row g-3 pt-4">

                    <div class="validate col-12 col-md-6 col-xl-3 "><strong class=" ">Paid on :</strong> </div>
                    <div class="validate col-12 col-md-6 col-xl-3"><strong class=" ">Placed on : </strong> <span
                            class="text-secondary">&nbsp;20-30-2024 15:12 </span></div>

                    <div class="validate col-12 col-md-6 col-xl-3"><strong class=" ">Modified on : </strong><span
                            class="text-secondary">&nbsp;22-01-2025 11:47</span></div>
                    <div class="validate col-12 col-md-6 col-xl-3"><strong class=" ">Order Duration : </strong> <span
                            class="text-secondary">-</span></div>

                </div>
            </div>
        </div>

        <!-- Customer and Table Details -->
        <div class="row justify-content-center g-2 ">
            <!-- Customer Details -->
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex gap-2 align-items-center mb-3"><i class="bi bi-person-lines-fill"></i>
                            <h3 class="fs-6 fw-bold m-0">Customer Details</h3>
                        </div>
                        <div class="p-2 d-flex flex-column gap-2">
                            <span>Name : <span class="text-secondary">ajeet lodhi</span></span>
                            <span>Phone : <span class="text-secondary">9012439231</span></span>
                            <span>No of Person : <span class="text-secondary">7</span></span>
                            <span>Email : <span class="text-secondary">ajeet@yopmail.com</span></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table Details -->
            <div class="col-md-6">
                <div class="card shadow-sm h-100">
                    <div class="card-body ">
                        <div class="d-flex gap-2 align-items-center mb-3"><img src="../images/icons/dinner-table.svg"
                                width="30px" height="30px">
                            <h3 class="fs-6 fw-bold m-0">Table Details</h3>
                        </div>
                        <div class="p-2 d-flex flex-column gap-2">
                            <span>Table: <span class="text-secondary">T3</span></span>
                            <span>Section: <span class="text-secondary">Ground Floor</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order Items -->
        <section class="card shadow-sm">
            <div class="card-body">
                <h2 class="fs-5 mb-3 fw-bold ">Order Items</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr
                                class="fw-bold border border-dark border-bottom-1 border-end-0 border-start-0 border-top-0">
                                <th>Sr.No</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th class="text-end">Price</th>
                                <th class="text-end">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="fw-bold text-secondary border border-bottom-1 border-end-0 border-start-0 border-top-0">
                                <td>1</td>
                                <td>Grilled burger<br><span class="sub-item text-secondary"> - Tomato</span></td>
                                <td>1</td>
                                <td class="text-end">70.00</td>
                                <td class="text-end">70.00</td>
                            </tr>
                            <tr
                                class="border border-bottom-1 border-end-0 border-start-0 border-top-0">
                                <td>2</td>
                                <td>MARGRITA<br><span class="sub-item"> - test</span></td>
                                <td>2</td>
                                <td class="text-end">120.00</td>
                                <td class="text-end">240.00</td>
                            </tr>
                            <tr
                                class="border border-bottom-1 border-end-0 border-start-0 border-top-0">
                                <td>3</td>
                                <td>Grilled burger<br><span class="sub-item"> - Babycorn</span></td>
                                <td>1</td>
                                <td class="text-end">70.00</td>
                                <td class="text-end">70.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Total Section -->
                <div class="d-flex justify-content-end w-100">
                    <div class="d-flex flex-column " style="min-width: 200px;">
                        <div class="d-flex justify-content-between pb-2">
                            <span class="fw-bold">Subtotal:</span>
                            <span> ₹399.00</span>
                        </div>
                        <div class="d-flex justify-content-between pb-2">
                            <span class="fw-bold">CGST:</span>
                            <span> ₹47.88</span>
                        </div>
                        <div class="d-flex justify-content-between pb-2">
                            <span class="fw-bold">SGST:</span>
                            <span> ₹150.00</span>
                        </div>
                        <div class="d-flex justify-content-between pb-2">
                            <span class="fw-bold">GST:</span>
                            <span> ₹78.88</span>
                        </div>
                        <div class="d-flex justify-content-between pb-2">
                            <span class="fw-bold">Others:</span>
                            <span> ₹19.95</span>
                        </div>
                        <div class="d-flex justify-content-between pb-2">
                            <span class="fw-bold">Total:</span>
                            <span> ₹624.81</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>