@model DAL.Models.UserLogin;
@{
    ViewData["Title"] = "ForgotPassword Page";
    Layout = "_LoginLayout";
     var emailValue = TempData["email"];
}

<div class="container-fluid  ">
        <div class="login-container row   ">

            <!-- Image Section -->
            <div class="pizza-img-div col-md-6 d-none d-md-block">

                <img src="./images/dominos_background.jpg" alt="Logo" class="pizza-img-tag img-fluid min-vh-100" />

            </div>


            <!-- Login Section -->
            <div
                class="login-main-div col-md-6 text-center text-md-start min-vh-100 d-flex flex-column align-content-center justify-content-center   ">

                <!-- Logo -->
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <img src="./images/logos/pizzashop_logo.png" alt="Logo" class="img-fluid"
                        style="width: 50px;" /><span class="logo-name">PIZZASHOP</span>
                </div>

                <div class="welcome-text mb-3"> <span class="fw-semibold fs-2">Forgot Password</span></div>
                <p class="text mb-2 fs-6">
                    Enter your email and we'll send you a link to reset your password
                </p>

                <!-- Login Form-->
                <form asp-action="ForgotPassword" class="login-form w-75 mx-auto ">

                    <div class="pass-div mb-4 ">
                        <input asp-for="Email" type="email" class="email-inp"  id="email-inp"
                            placeholder="Email*" value=@emailValue required />
                    </div>

                    <!-- Remember me and frgt pass section -->

                    <div class=" d-grid">
                        <button class="login-btn btn btn-primary" 
                            type="submit">Send</button>
                    </div>

                    <div class="mt-3"><a href="" class="text-decoration-none ms-3 frgt-pass ">Back to
                            Login</a></div>

                </form>

            </div>
        </div>
    </div>