@model DAL.ViewModels.ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword Page";
    Layout = "_LoginLayout";
}

<div class="container-fluid  ">
        <div class="login-container row   ">

            <!-- Image Section -->
            <div class="pizza-img-div col-md-6 d-none d-md-block">

                <img src="~/images/dominos_background.jpg" alt="Logo" class="pizza-img-tag img-fluid min-vh-100" />

            </div>


            <!-- Login Section -->
            <div
                class="login-main-div col-md-6  text-md-start min-vh-100 d-flex flex-column align-content-center justify-content-center   ">

                <!-- Logo -->
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <img src="~/images/logos/pizzashop_logo.png" alt="Logo" class="img-fluid "
                        style="width: 50px;" /><span class="logo-name">PIZZASHOP</span>
                </div>

                <div class="welcome-text mb-3"> <span class="fw-semibold fs-4">Reset Your Password</span></div>


                <!-- Login Form-->
                <form asp-action="ResetPassword" class="login-form w-75 mx-auto ">
                    <input type="hidden" asp-for="Email" id="Email" />
                    <div class="pass-div mb-4 ">
                        <input asp-for="Password" type="password" class="pass-inp" placeholder="New Password*" id="pass-inp"  />
                        <i class="bi bi-eye-slash-fill" id="togglePassword"></i>
                    <span asp-validation-for="Password" class="text-danger ms-4"></span>
                    </div>

                    <div class="pass-div mb-4 ">
                        <input asp-for="ConfirmPassword" type="password" class="pass-inp" placeholder="Confirm New Password*" id="confirmPassword-inp"/>
                        <i class="bi bi-eye-slash-fill" id="confirmTogglePassword"></i>
                    <span asp-validation-for="ConfirmPassword" class="text-danger ms-4"></span>
                    </div>

                    <div class="d-grid">
                        <button class="login-btn btn btn-primary" type="submit">Submit</button>
                    </div>
                    <div class="text-center mt-3 fs-6"><a asp-action="VerifyUserLogin" asp-controller="UserLogin" class="text-decoration-none ms-3 frgt-pass">
                            Back to Login</a></div>
                </form>

            </div>
        </div>
    </div>