@model DAL.ViewModels.UserLoginViewModel;
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LoginLayout";
}

<div class="container-fluid  ">
    <div class="login-container row   ">

        <!-- Image Section -->
        <div class="pizza-img-div col-md-6 d-none d-md-block">

            <img src="~/images/dominos_background.jpg" alt="Logo" class="pizza-img-tag img-fluid min-vh-100" />

        </div>


        <!-- Login Section -->
        <div
            class="login-main-div col-md-6 text-center text-md-start min-vh-100 d-flex flex-column align-content-center justify-content-center   ">

            <!-- Logo -->
            <div class="d-flex align-items-center justify-content-center mb-4">
                <img src="./images/logos/pizzashop_logo.png" alt="Logo" class="img-fluid" style="width: 50px;" /><span
                    class="logo-name">PIZZASHOP</span>
            </div>

            <div class="welcome-text mb-3"> <span class="fw-bold fs-3">Welcome,</span></div>

            <!-- Login Form-->
            <form asp-action="VerifyUserLogin" class="login-form w-75 mx-auto ">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group pass-div mb-4 ">
                    <label asp-for="Email" class="control-label"></label>

                    <input asp-for="Email" type="email" id="Email" class="form-control email-inp" placeholder="Email*"
                        required />
                    <i class="bi bi-person-fill"></i>
                    <span asp-validation-for="Email" class="text-danger ms-4"></span>

                </div>

                <div class="form-group pass-div mb-4 ">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control pass-inp" placeholder="Password*"
                        required />
                    <i class="bi bi-eye-slash-fill" id="togglePassword"></i>
                    <span asp-validation-for="Password" class="text-danger ms-4"></span>
                </div>

                <!-- Remember me and frgt pass section -->
                <div class="rememberme-div d-flex justify-content-between mb-4">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Remember_me" type="checkbox" id="flexCheckDefault">
                        <label class="mt-1">Remember Me</label>
                    </div>
                    <a id="forgot-password" class="text-decoration-none user-btn ms-3 " onclick="redirectForgotPassword()"  >Forgot Password?</a>
                </div>
                <div class=" d-grid">
                    <span class="text-danger ms-1">@ViewBag.message</span>
                    <input value="Login" class="login-btn solid-btn btn btn-primary" type="submit" />
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
@* <script src="/js/custom.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@

<script>
    function redirectForgotPassword() {
        var email = document.getElementById('Email').value;
        window.location.href = '/UserLogin/ForgotPassword?email=' + encodeURIComponent(email);
    }

    // write the above logic for forgotpassword in ajax
    
@* $(document).ready( function() {
    $('#forgot-password').click(function() {
        var email = document.getElementById('Email').value;
        $.ajax({
            url: '/UserLogin/ForgotPassword',
            type: 'GET',
            data: { email: email },
            success: function(response) {
                // Handle success response
                window.location.href = "@Url.Action("ForgotPassword","UserLogin")";
                console.log('Password reset link sent successfully.');
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error('Error sending password reset link:', error);
            }
        });
    });
});    *@
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
